@charset "UTF-8" ;

header{
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50%;
    font-weight:500;
    color: blueviolet;
}

flex{
    display: flex;
}

t1{
    text-align: left;
    font-size: 5%;
}
